/* basic grid-layout, sets grid for head, body and footer */
.grid-layout-body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 280px 1fr;
  grid-template-rows: auto auto 80px;
}

.grid-item-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-item-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-item-footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
/*Basic style for body, Head, main, footer*/
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  background-color: #ce890b;
  box-sizing: border-box;
}
header {
  background-color: greenyellow;
  margin-bottom: 5px;
  padding: 10px;
}

main {
  background-color: deeppink;
  margin: 5px 0px;
  padding: 10px;
}

footer {
  background-color: darksalmon;
  margin-top: 5px;
}
/*more detailed styling on different elements from top to bottom*/
/*header*/
h1 {
  text-align: center;
  font-style: italic;
  margin-bottom: 0px;
}
.flex-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px;
}
.flex-nav-element {
  font-size: 10px;
  background-color: darkseagreen;
  padding: 0px 4px;
  margin: 2px 0px 0px 0px;
  border-radius: 10%;
}
/*main*/
/*intro-box with photo and short text*/
#flex-cont-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-profile-frame {
  width: 100px;
  height: 100px;
  background-image: url("images/img_of_Manuel.jpg");
  background-size: cover;
  border-radius: 100%;
}
.flex-itm-intro-img {
  background-color: whitesmoke;
  width: 1fr;
  padding: 10px;
}
.image-profile-frame {
  width: 110px;
  height: 110px;
  background-image: url("images/img_of_Manuel.jpg");
  background-size: cover;
  border-radius: 100%;
}
.flex-itm-intro-txt {
  background-color: rgb(111, 180, 111);
  width: 1fr;
  height: 130px;
  padding: 0px 10px;
  font-size: x-small;
  font-style: italic;
}

.flex-cont-likes {
  display: flex;
  flex-wrap: wrap;
}

.flex-itm-likes {
  width: 1fr;
}
.slacklining {
  width: 130px;
  height: 130px;
  background-image: url("images/slackline.jpg");
  background-size: cover;
}
.lead-climbing {
  width: 130px;
  height: 130px;
  background-image: url("images/lead-climbing.jpg");
  background-size: cover;
}
.gym-climbing {
  width: 130px;
  height: 130px;
  background-image: url("images/gym-climbing.jpg");
  background-size: cover;
}
.wood {
  width: 130px;
  height: 130px;
  background-image: url("images/wood.jpg");
  background-size: cover;
}

.img_socialmedia {
  width: 100px;
  height: 100px;
}

.sm-conatiner {
  display: flex;
}
.sm-block {
  border: solid black;
}
